body{
	display: flex;
	flex-direction: column;
}
body *{
	flex: 1;
}
.top-layer{
	background-color: #1F2937;
	flex-basis: 500px;

	display: flex;
	flex-direction: column;

	padding: 5px 150px 100px;
}
.header{
	display: flex;
}

.header > h1{
	font-size: 24px;
	color: #F9FAF8;
}
.header-list{
	list-style-type: none;
	padding-left: 0px;
	display: flex;
	justify-content: right;
	gap: 15px;
}
.header-list > li{
	min-width: 125px;
	flex-grow: 0;
}
.header-link{
	text-decoration: none;
	color: #E5E7EB;
	font-size: 18px;
}
.description > h1{
	font-size: 48px;
	font-weight: bold;
	color: #F9FAF8;
}
.secondary-text{
	font-size: 18px;
	color: #E5E7EB;
}
.info-button{
	background-color: #3882F6;
	color: #F9FAF8;
	border-radius: 3px;
	border-width: 0px;
	padding: 5px 20px;
}
.description > h1{
	margin: 0;
}
.top-info{
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.image-placeholder{
	background-color: #E5E7EB;
	display: flex;
	align-items: center;
	text-align: center;
}

.info{
	flex-basis: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.random-info{
	margin: 0;
	display: flex;
	align-items: center;
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
}
.images{
	flex: 3;
	display: flex;
	justify-content: center;
	gap: 40px;
}
.image-div{
	display: flex;
	flex-direction: column;
	max-width: 150px;
}
.border-image{
	border: 3px blue solid;
	border-radius: 15px;
	min-width: 140px;
	min-height: 140px;
	flex-grow: 0;
	flex-shrink: 0;
}
.image-info{
	text-align: center;
	margin: 8px;
}

.quote{
	background-color: #E5E7EB;
	display: flex;
	flex-direction: column;

	padding: 100px 250px 75px;
}
.quote-text{
	font-size: 36px;
	font-style: italic;
}
.quote-author{
	text-align: right;
	font-size: 20px;
	font-weight: 900;
}
.final-call{
	padding: 75px 100px;
}
.call-container{
	background-color: #3882F6;
	border-radius: 5px;

	display: flex;
	padding: 40px;
}
.call-text{
	flex: 2;
}
.call-line1{
	color: white;
	font-size: 20px;
	font-weight: 550;
}
.call-line2{
	color: lightgray;
}
.call-sign{
	display: flex;
	justify-content: center;
}
.sign-button{
	border-radius: 5px;
	border-color: white;
	background-color: #3882F6;
	color: white;
	flex-grow: 0;
	min-width: 100px;
}
.footer{
	background-color: #1F2937;
	flex-basis: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}